.cardContainer{
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(34, 32, 32, 0.934);
    cursor: pointer;
}